In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
Minggu = 1
Topik = 'MyFirstProgram.py'
Modulelink = 'https://www.orbitguru.org'

print(f"Saya akan mengajarkan materi ke-{Minggu}, tentang {Topik}, coba cek disini ya: {Modulelink}")

Saya akan mengajarkan materi ke-1, tentang MyFirstProgram.py, coba cek disini ya: https://www.orbitguru.org

In [22]:
tahun_lahir = input('Tahun lahir Anda = ')
tahun_lahir = int(tahun_lahir)
print('Usia Anda saat ini =', 2024 - tahun_lahir, 'tahun')

Tahun lahir Anda = 2004
Usia Anda saat ini = 20 tahun

In [6]:
nama = input('Nama\t\t\t: ')
usia = input('Usia\t\t\t: ')
jenis_kelamin = input('Jenis Kelamin\t\t: ')
asal_pt = input('Asal Perguruan Tinggi\t: ')
prodi = input('Program Studi\t\t: ')


print(f"""\nHalo! Perkenalkan, namaku {nama} dan usiaku {usia} tahun.
Aku seorang {jenis_kelamin}. Saat ini, aku berkuliah di {asal_pt}, jurusan {prodi}.""")

Nama			: zefanya
Usia			: 20
Jenis Kelamin		: laki laki
Asal Perguruan Tinggi	: sma
Program Studi		: bisnis

Halo! Perkenalkan, namaku zefanya dan usiaku 20 tahun.
Aku seorang laki laki. Saat ini, aku berkuliah di sma, jurusan bisnis.

In [3]:
Panjang = 80
Lebar = 100

Panjang, Lebar = Lebar, Panjang

print(f"panjang = {Panjang}, lebar = {Lebar}")

panjang = 100, lebar = 80

In [19]:
x = 5
y = 3

print(f'{x} ** {y} =', x**y)
print(f'{x} * {y} =', x*y)
print(f'{x} / {y} =', x/y)
print(f'{x} // {y} =', x//y)
print(f'{x} % {y} =', x % y)
print(f'{x} + {y} =', x+y)
print(f'{x} - {y} =', x-y)

5 ** 3 = 125
5 * 3 = 15
5 / 3 = 1.6666666666666667
5 // 3 = 1
5 % 3 = 2
5 + 3 = 8
5 - 3 = 2

In [10]:
total_pertemuan = 14
kehadiran = 10
tugas = 85
ujian = 80

nilai_akhir = (kehadiran/total_pertemuan)*30 + tugas*0.3 + ujian*0.4
print('Nilai akhir student =', nilai_akhir)

Nilai akhir student = 78.92857142857143

In [12]:
harga = 200

harga = harga + 40
print(harga)

harga = harga - 20
print(harga)

240
220

In [13]:
x = 5
y = 3

print(f"{x}<{y}=",x<y)
print(f"{x}>{y}=",x>y)
print(f"{x}<={y}=",x<=y)
print(f"{x}>={y}=",x>=y)
print(f"{x}=={y}=",x==y)
print(f"{x}!={y}=",x!=y)

5<3= False
5>3= True
5<=3= False
5>=3= True
5==3= False
5!=3= True

In [14]:
password = 'kentang123'
password_simpen = 'kentang123'

verifikasi = password == password_simpen

print(verifikasi)

True

In [16]:
x = True
y = False

print("x and b = ", x and y )
print("x or y = ", x or y )
print("not(x) = ", not(x))

x and b =  False
x or y =  True
not(x) =  False

In [21]:
a = 10
b = 12
c = 50

print(a < b and b < c)
print(a == b and b != c, '\n')

print(a < b or b < c,)
print(a == b and b != c, '\n')

print(not(a == b))
print(not(b != c))

True
False

True
False

True
False

In [4]:
#balok

print('menghitung luas dan persegi panjang')
t = float(input())
l = float(input())
p = float(input())

luas = 2*(p*l + p*t + l*t)
volume = p*t*l

print('\nLuas pesergi \t:', int(luas))
print('\nvolume pesergi \t:', int(volume))

menghitung luas dan persegi panjang

Luas pesergi 	: 720

volume pesergi 	: 900

In [9]:
#bola

print('menghitung luas dan volume bola')
r = float(input())

luas = 4*3,14*r*r 
volume = 4/3*3,14*r*r*r

print('\nLuas bola \t:', luas)
print('\nvolume volume \t:',volume)

menghitung luas dan volume bola

Luas bola 	: (12, 12600.0)

volume volume 	: (4.0, 378000.0)

In [ ]:
#kubus

print('menghitung luas dan volume kubus')
s = float(input('/nMasukan nilai sisi = '))

luas = s*s*s
Volume = 6*(s**2)

print('\nLuas kubus \t', int(luas))
print('\nVolume kubus \t', int(Volume))

In [23]:
pressure = '100.321'
pressure = float(pressure)
print(pressure)

100.321

In [26]:
average = 1.0
average = bool(average)
print(average)

True

In [61]:
warna = ['merah', 'biru', 'hijau', 'kuning', 'ungu', 'hitam']

print(warna)
type(warna)

['merah', 'biru', 'hijau', 'kuning', 'ungu', 'hitam']

list

In [10]:
warna.index('merah')
warna.index('biru')
warna.index('kuning')
warna.index('ungu')
warna.index('hijau')
warna.index('hitam')

5

In [3]:
angka = [1, 2, 3, 4, 5, 6]

print(angka)
type(angka)

[1, 2, 3, 4, 5, 6]

list

In [4]:
data1 = ['Lima', 5, 0.5, True]

print(data1)
type(data1)

['Lima', 5, 0.5, True]

list

In [21]:
dataset = [['kentang', 23, 0,'Jawa cina', 2300000],
        ['dragon', 25, 0, 'cina jawa', 47000000],
        ["naga"]]

print('dataset            : ', dataset)
print('tipe dataset       : ', type(dataset))
print('jumlah dataset     : ', len(dataset))
print(dataset[1])

dataset            :  [['kentang', 23, 0, 'Jawa cina', 2300000], ['dragon', 25, 0, 'cina jawa', 47000000], ['naga']]
tipe dataset       :  <class 'list'>
jumlah dataset     :  3
['dragon', 25, 0, 'cina jawa', 47000000]

In [62]:
print (f"warna = {warna}")

warna[0] = 'Red'
warna[1] = 'Green'
warna[-4] = 'Blue'

print (f"warna = {warna}")

warna = ['merah', 'biru', 'hijau', 'kuning', 'ungu', 'hitam']
warna = ['Red', 'Green', 'Blue', 'kuning', 'ungu', 'hitam']

In [56]:
print(bulat, '\n')

bulat [0] = bulat[0] + 10
bulat [1] = bulat[1] / 5
bulat [3] = bulat[3] % 2
bulat [4] = bulat[4] + bulat [5]
bulat [5] = 0

print(bulat)

NameError: name 'bulat' is not defined

In [33]:
angka = [1, 2, 3, 4, 5]
huruf = ['a', 'b', 'c', 'd', 'e']

alphanumeric = angka + huruf
alphanumeric

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [34]:
number = [80, 0.2, 50, -2.3, -0.1, 0, 1, 6, 5, 100, -2]
number.sort(reverse=True)
print(number, '\n')

[100, 80, 50, 6, 5, 1, 0.2, 0, -0.1, -2, -2.3]

In [35]:
print(sorted(number, reverse=False))

[-2.3, -2, -0.1, 0, 0.2, 1, 5, 6, 50, 80, 100]

In [43]:
pets =['cat', 'dog', 'rabbit', 'fish', 'turtle', 'hamster', 'bird']
print(pets)

pets.pop(-1)
print(pets)

del pets[3]
print(pets)

pets.remove('dog')
print(pets)

pets.clear()
print(pets)

['cat', 'dog', 'rabbit', 'fish', 'turtle', 'hamster', 'bird']
['cat', 'dog', 'rabbit', 'fish', 'turtle', 'hamster']
['cat', 'dog', 'rabbit', 'turtle', 'hamster']
['cat', 'rabbit', 'turtle', 'hamster']
[]

In [49]:
class_kentang =['dammam', 'dormamu', 'orion', 'yumeko','haramu',]
class_salin = class_kentang.copy()

print(class_kentang)
print(class_salin, '\n')

class_kentang.remove('dammam')
class_salin.append('genji')

print(class_kentang)
print(class_salin, '\n')

['dammam', 'dormamu', 'orion', 'yumeko', 'haramu']
['dammam', 'dormamu', 'orion', 'yumeko', 'haramu']

['dormamu', 'orion', 'yumeko', 'haramu']
['dammam', 'dormamu', 'orion', 'yumeko', 'haramu', 'genji']

In [54]:
iris = {'virginica', 'versicolor', 'setosa'}
print(iris, '\n')

iris.add('ayame')
iris.add('sweet')
iris.add('confusa')
iris.add('setosa')
print(iris, '\n')

iris.remove('virginica')
iris.remove('versicolor')
iris.remove('setosa')
print(iris, '\n')

{'versicolor', 'setosa', 'virginica'}

{'ayame', 'virginica', 'sweet', 'confusa', 'versicolor', 'setosa'}

{'ayame', 'sweet', 'confusa'}

implementasi set

In [65]:
A = {1,2,3,4,5,7,8,9}
B = {3,5,6,7,8}

print(A)
print(B,'\n')

irisan = A.intersection(B)
print('A irisan B=', irisan, '\n')

gabungan = A.union(B)
print('A gabungan B=', gabungan, '\n')

beda_setangkup = A.symmetric_difference(B)
print('A beda setangkup B=', beda_setangkup, '\n')

{1, 2, 3, 4, 5, 7, 8, 9}
{3, 5, 6, 7, 8}

A irisan B= {8, 3, 5, 7}

A gabungan B= {1, 2, 3, 4, 5, 6, 7, 8, 9}

A beda setangkup B= {1, 2, 4, 6, 9}

In [4]:
condition = True

if(condition):
    print('block of code diesksekusi')

block of code diesksekusi

In [7]:
angka = 20

if(angka >= 0):
  print(f'{angka} merupakan bilangan positif')

20 merupakan bilangan positif

In [8]:
angka = 8

if(angka>=0 and angka < 10):
  print(f'{angka} merupakan bilangan desimal')

8 merupakan bilangan desimal

In [29]:
usia = 16
punya_KTP = input()

if(usia<=17 and punya_KTP=='yes'):
    print('Anda boleh mengikuti ujian pembuatan SIM!')
else:
    print('Anda tidak boleh mengikuti ujian pembuatan SIM!')

Anda tidak boleh mengikuti ujian pembuatan SIM!

In [59]:
usia = int(input())
punya_KTP = input('[y/n]') 
suket = input('[y/n]')  

if(usia>=17 and (punya_KTP=='y' or suket=='y')): 
    print('Anda boleh mengikuti ujian pembuatan SIM!')
else:
    print('Anda tidak boleh mengikuti ujian pembuatan SIM!')

Anda boleh mengikuti ujian pembuatan SIM!

In [39]:
condition = False

if condition:
  print('Block of code "True" dieksekusi!')
else:
  print('Block of code "False" dieksekusi!')

Block of code "False" dieksekusi!

In [43]:
angka = int(input())

if angka>=0 and angka<9:
    print(f'{angka} merupakan bilangan desimal')
else:
    print(f'{angka} bukan termasuk bilangan desimal')

5 merupakan bilangan desimal

In [ ]:
masker = input('Memakai masker [y/n] :')
vaksin_1 = input('Sudah vaksin ke-1 [y/n] :')
vaksin_2 = input('Sudah vaksin ke-2 [y/n] :')
booster = input('Sudah booster ke-1 [y/n]: ')
pcr = input('Hasil pcr [+/-] : ')

if masker=='y' and (vaksin_1=='y' or vaksin_2=='y' or booster=='y') and pcr!='+':
    print('\nAnda boleh membeli tiket pesawat!')
    print('Tetap patuhi prokes!')
    print('Lakukan isoman ketika sudah sampai ditujuan!')
else:
    print('\nAnda tidak diizinkan membeli tiket pesawat!')

In [51]:
nilai = int(input())
KKM = 70

if nilai >= 70:
  print('Lulus!')
else:
  print('Tidak Lulus')

Tidak Lulus

In [60]:
condition = True
condition1 = False
condition2 = True

if condition:
  print('Pilihan utama dieksekusi!')
elif condition1:
  print('Alternatif 1 dieksekusi!')
elif condition2:
  print('Alternatif 2 dieksekusi!')
else:
  print('Alternatif terakhir dieksekusi')

Pilihan utama dieksekusi!

In [61]:
angka = int(input('Input Angka: '))

if angka >=0 and angka <9:
  print(f'{angka} merupakan bilangan desimal')
elif angka <0:
  print(f'{angka} merupakan bilangan negatif')
else:
  print(f'{angka} merupakan bilangan asli')

20 merupakan bilangan asli

In [ ]:
nilai = float(input('Nilai Mahasiswa = '))

if nilai >=80:
  grade = 'A'
elif nilai >=70:
  grade = 'B'
elif nilai >=60:
  grade = 'C'
elif nilai >=50:
  grade = 'D'
elif nilai >=40:
  grade = 'E'
else:
  grade = 'F'

print(f'Kamu mendapatkan grade {grade}')

In [67]:
saldo = int(input())
administrasi = 0

if saldo >= 20000:
  administrasi = saldo*0.1
  saldo -= administrasi
elif saldo >= 60000:
  administrasi = saldo*0.05
  saldo -= administrasi
elif saldo >= 75000:
  administrasi = saldo*0.2
  saldo -= administrasi
else:
  saldo -= administrasi

print(f'\nBiaya administrasi Anda sebesar, Rp{administrasi}')
print(f'Saldo Anda saat ini adalah Rp{saldo}')

Biaya administrasi Anda sebesar, Rp5000.0
Saldo Anda saat ini adalah Rp45000.0

In [ ]:
presensi = float(input('Input presensi student\t\t: '))

if presensi >= 85:
    tugas = float(input('Input latihan student\t'))
    ujian = float(input('Input ujian student\t'))
    nilai = presensi*0.3 + tugas*0.3 + ujian*0.4
    if nilai >= 60:
        print(f'\nStudent lulus dengan nilai {nilai}!')
    else:
        print(f'\nStudent tidak lulus! Nilai yang didapat adalah {nilai}')
else:
    print('\nStudent tidak lulus karena presensi di bawah 85%!')

In [79]:
nilai = int(input())
hasil = 'Lulus!' if nilai >=70 else 'Tidak Lulus!'
print(hasil)

Tidak Lulus!

In [83]:
condition = True

while condition<10:
  print('Block of Code di eksekusi!')
  condition = condition + 1
  
  print(condition)

Block of Code di eksekusi!
2
Block of Code di eksekusi!
3
Block of Code di eksekusi!
4
Block of Code di eksekusi!
5
Block of Code di eksekusi!
6
Block of Code di eksekusi!
7
Block of Code di eksekusi!
8
Block of Code di eksekusi!
9
Block of Code di eksekusi!
10

In [81]:
value = 0

while value < 10:
  print('Ulangi selamat condition bernilai True')
  value = value + 1

print(value)

Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
Ulangi selamat condition bernilai True
10

In [84]:
for i in 'Zefanya Williams':
  print(i)

Z
e
f
a
n
y
a

W
i
l
l
i
a
m
s

In [85]:
warna = ['merah', 'jingga', 'kuning', 'hijau', 'biru', 'nila', 'ungu']

for color in warna:
  print(color, end=' ')

merah jingga kuning hijau biru nila ungu

In [86]:
angka = [0, 1, 2, 3, 4, 5]

for number in angka:
  print(number, end=' ')

0 1 2 3 4 5

In [88]:
scores = [90, 80, 70, 60, 75, 85, 82, 90, 100, 58]
total_scores = 0

for score in scores:
    total_scores = total_scores + score

rata_rata = total_scores/len(scores)

print('Total nilai\t=', total_scores)
print('Rata-rata nilai\t=', rata_rata)

Total nilai	= 790
Rata-rata nilai	= 79.0

In [89]:
for i in range(-1, 11):
  print(f'Iterasi ke-{i}')

Iterasi ke--1
Iterasi ke-0
Iterasi ke-1
Iterasi ke-2
Iterasi ke-3
Iterasi ke-4
Iterasi ke-5
Iterasi ke-6
Iterasi ke-7
Iterasi ke-8
Iterasi ke-9
Iterasi ke-10

In [90]:
for i in range(-11, 1):
  print(f'Iterasi ke-{i}')

Iterasi ke--11
Iterasi ke--10
Iterasi ke--9
Iterasi ke--8
Iterasi ke--7
Iterasi ke--6
Iterasi ke--5
Iterasi ke--4
Iterasi ke--3
Iterasi ke--2
Iterasi ke--1
Iterasi ke-0

In [106]:
for i in range(0, len(scores)):
    scores[i]=i
    
print(scores)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
for i in range(0, 10): #i = baris
  for j in range(0, 10): # j = kolom
    print(1, j , end='\t')
  print('\n')

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

1 0	1 1	1 2	1 3	1 4	1 5	1 6	1 7	1 8	1 9

In [105]:
import numpy as np

data = np.array([[7, 1, 9],
                 [8, 6, 5],
                 [2, 4, 3]])

for baris in data:
    for kolom in baris:
        print(kolom, end='')

719865243

In [98]:
data = np.array([[7, 1, 9], 
                 [8, 6, 5], 
                 [2, 4, 3]])
for i in range(0, data.shape[0]): # shape[0] = jumlah baris 
    for j in range(0, data.shape[1]): # shape [1] = jumlah kolom
        print(data[i, j], end=' ')

7 1 9 8 6 5 2 4 3

In [99]:
bilangan = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nums = []

for bil in bilangan:
    nums.append(bil)
    
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
for i in range(0, 12):
  if i == 5:
    continue
  print(i, end= " ")

0 1 2 3 4 6 7 8 9 10 11

In [101]:
for i in range(1, 11):
  if i == 7:
    break
  print(i, end=' ')

1 2 3 4 5 6

In [103]:
numbers = [91, 20, 12, 87, 19, 11, 34, 47, 68, 56]
genap  = []
ganjil = []

for number in numbers:
    if number%2 == 0:
        genap.append(number)
    else:
        ganjil.append(number)
        
print('data\t\t:', numbers)
print('data ganjil\t:', ganjil)
print('data genap\t:', genap)

data		: [91, 20, 12, 87, 19, 11, 34, 47, 68, 56]
data ganjil	: [91, 87, 19, 11, 47]
data genap	: [20, 12, 34, 68, 56]